#divCliente{
    display: flex;
    gap: 10px;
    flex-direction: row;
}


.table td {
    /* Você pode ajustar o valor conforme necessário */
    overflow: hidden; /* Isso impede que o conteúdo vaze para fora da célula */
    white-space: nowrap; /* Isso evita que o conteúdo seja quebrado em várias linhas */
    text-overflow: ellipsis; /* Isso adiciona reticências (...) ao final do conteúdo que não cabe na célula */
    padding: 1em 3em 1em 0em;
}

.table th {
    padding: 1em 3em 1em 0em;
}

/* .row {
    width: 100%;
}

.table-responsive {
    width: 100%;
} */

.modal-backdrop {
    display: none;
}


#editClientModal {
    display: none;
}


